<div id="chatroom-container">
    <div id="conversations">
    </div>
    <div id="message-form">
      <div class="input-group">
        <span class="input-group-addon"><b>@<%= @username %></b></span>
        <input type="text" class="form-control" placeholder="Type your message here">
      </div>
    </div>
</div>
