#submit-button {
  width: 180px;
  font-weight: bold;
  margin-top: 10px;
}

#chatroom-container {
  text-align: middle;
}

#conversations {
  position: absolute;
  bottom: 180px;
  top: 120px;
  left: 450px;
  right: 450px;
  border-left: solid 1px rgb(232, 153, 17);
  border-right: solid 1px rgb(232, 153, 17);
  overflow: auto;
  overflow-x: hidden;
}

#conversations div {
  margin-left: 10px;
}

#message-form {
  position: absolute;
  bottom: 120px;
  left: 500px;
  right: 500px;
}
